<table border="1">
  <th><input type="checkbox" id="name_check" [(ngModel)]="name_check">name</th>
  <th><input type="checkbox" id="age_check"  [(ngModel)]="age_check">age</th>
  <th><input type="checkbox" id="average_check"  [(ngModel)]="average_check">average</th>
  <th>approved</th>
  <th>description</th>
<tr *ngFor=" let dt of data">
 
  <td> {{dt.name}}</td>
  <td> {{dt.age}}</td>
  <td>  {{dt.average}} {{dt.name}}</td>
  <td> {{dt.approved}}</td>
  <td>{{dt.description}}</td>
</tr>
</table>
<button (click) ="filedownlaod()">download </button>